<div class="container">

    <div class="display-2">Projects</div>

    <div class="split-left-1">
      <div class="centered"><br><br>
        <img src="assets/placeable.jpg" alt="Placeable">
      </div>
    </div>

    <div class="split-right-1">
      <section>
        <p class="display-3">
          <b class="title">Placeable</b><br>A streamlined platform designed to simplify the placement process for students and recruiters while reducing the load on the placement officer.<br><br><b>AngularJS | Django | Postgres | GitHub</b>
        </p>
        <a href="https://github.com/AKBuggy/Placeable" class="btn">View Project</a>
      </section>
    </div>

    <div class="split-left-2">
      <div class="centered"><br><br>
        <img src="assets/desklet.jpg" alt="many">
      </div>
    </div>

    <div class="split-right-2">
      <section>
        <p class="display-3">
          <b class="title">Desklet</b><br>A Web-Application for Enterprise Resource Management (ERM) activities that manages all the Purchase Orders (PO), Sales Orders (SO) and Materials Received Notes (MRN) of the organization.<br><br><b>AngularJS | Springboot | MySQL | GitHub</b>
        </p>
        <a href="https://github.com/YojitShinde/Desklet" class="btn">View Project</a>
      </section>
    </div>

    <!-- <div class="split left">
      <div class="centered"><br><br>
        <img src="assets/ss.jpg" alt="Smart Gesture System">
      </div>
    </div>

    <div class="split right">
      <section>
        <p class="display-3">
          <b class="title">Smart Gesture System</b><br>A System that allows users to use simple hand-gestures to perform operations like Pause/Play a video, Increase/Decrease the volume of the video and Forward/Rewind a video.<br><br><b>Arduino Uno | Ultrasonic Distance Sensors | Python</b>
        </p>
        <a href="https://asmartsystem.wordpress.com/" class="btn">View Project</a>
      </section>
    </div> -->

</div><br><br>