<div class="container"><br><br>
    <div class="display-2">Competency</div>

    <div class="split left">
        <div class="centered"><br><br>
            <img src="assets/pixel-art.png">
        </div>
    </div><br>

    <div class="split right">
        <div class="rating">
            <div class="progress" style="height: 30px;">
                <div class="progress-bar" role="progressbar" style="background-color: #282E82; width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"><b>Frontend Development</b></div>
                <div class="progress-bar" role="progressbar" style="background-color: white; width: 30%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div><br>
        <div class="rating">
            <div class="progress" style="height: 30px;">
                <div class="progress-bar" role="progressbar" style="background-color: #282E82; width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"><b>Backend Development</b></div>
                <div class="progress-bar" role="progressbar" style="background-color: white; width: 20%;" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div><br>
        <div class="rating">
            <div class="progress" style="height: 30px;">
                <div class="progress-bar" role="progressbar" style="background-color: #282E82; width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"><b>Relational Databases</b></div>
                <div class="progress-bar" role="progressbar" style="background-color: white; width: 30%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div><br><br>
        <!-- <div class="rating">
            <div class="progress" style="height: 30px;">
                <div class="progress-bar" role="progressbar" style="background-color: #282E82; width: 65%;" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"><b>Version Control</b></div>
                <div class="progress-bar" role="progressbar" style="background-color: white; width: 35%;" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div><br> -->
        <!-- <div class="rating">
            <div class="progress" style="height: 30px;">
                <div class="progress-bar" role="progressbar" style="background-color: #282E82; width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"><b>Android Development</b></div>
                <div class="progress-bar" role="progressbar" style="background-color: white; width: 40%;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div><br><br> -->
        <div class="rating">
            <div class="progress" style="height: 30px;">
                <div class="progress-bar" role="progressbar" style="background-color: #3F48CC; width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"><b>Java</b></div>
                <div class="progress-bar" role="progressbar" style="background-color: white; width: 20%;" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div><br>
        <div class="rating">
            <div class="progress" style="height: 30px;">
                <div class="progress-bar" role="progressbar" style="background-color: #3F48CC; width: 65%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"><b>Python</b></div>
                <div class="progress-bar" role="progressbar" style="background-color: white; width: 35%;" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div><br>
        <div class="rating">
            <div class="progress" style="height: 30px;">
                <div class="progress-bar" role="progressbar" style="background-color: #3F48CC; width: 75%;" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"><b>Typescript</b></div>
                <div class="progress-bar" role="progressbar" style="background-color: white; width: 25%;" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div><br>
    </div><br>
</div><br><br>