<div class="container">

    <div class="display-2">Personal Info</div>

    <table>
        <tbody>
            <tr>
                <td class="display-3"><b>Name</b></td>
                <td class="display-3" style="color: #282E82;"><b>Yojit Shinde</b></td>
            </tr>
            <tr>
                <td class="display-3"><b>Experience</b></td>
                <td class="display-3" style="color: #282E82;"><b>1 Month (Internship)</b></td>
            </tr>
            <tr>
                <td class="display-3"><b>Qualification</b></td>
                <td class="display-3" style="color: #282E82;"><b>Bachelor of Science (BSc)</b></td>
            </tr>
            <tr>
                <td class="display-3"><b>Interests</b></td>
                <td class="display-3" style="color: #282E82;"><b>Video Games</b></td>
            </tr>
        </tbody>
    </table>

    <section>
        <p class="display-3">
            I am a recent InfoTech graduate. I love to learn and master new and upcoming invocations in this field.<br><br> I have developed projects (both personal and course-related) using technologies like: <b>AngularJS / Springboot / Django / MySQL / Postgres / GitHub / Postman</b>.<br><br> I am experienced in languages like: <b>Java / Python / Typescript</b>.
        </p>
    </section><br><br>
    
</div>
